CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN1=12
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN2=13
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN3=14
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN4=27
