CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_TINYUSB_MIDI_COUNT=1

CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN1=4
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN2=5
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN3=6
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN4=7
