CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_TINYUSB_MIDI_COUNT=1

CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN1=1
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN2=2
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN3=3
CONFIG_TESLASYNTH_OUTPUT_GPIO_PIN4=4
