@use "@picocss/pico/scss/pico" with (
  $theme-color: "indigo"
);

.svg-logo {
    height: 100px;
    width: auto;
}
.channel-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 100%;
}
