// Customize Pico.css variables
@use "@picocss/pico/scss/pico" with (
  $theme-color: "indigo"
);

// // Custom theme overrides
// :root {
//   --primary: #1a73e8;
//   --radius: 8px;
//   --spacing: 16px;
// }

// // Example custom card style
// .card {
//   padding: var(--spacing);
//   border-radius: var(--radius);
//   box-shadow: 0 1px 4px rgba(0,0,0,0.1);
// }

.svg-logo {
    height: 100px;
    width: auto;
}
