menu "Teslasynth"

menu "Outputs"

menu "LED"

config TESLASYNTH_OUTPUT_GPIO_LED
    int "GPIO Pin for Signal LED"
    default -1
    range -1 39

config TESLASYNTH_OUTPUT_GPIO_LED_ACTIVE_LOW
    bool "Is active low?"
    default "n"

endmenu


config TESLASYNTH_OUTPUT_COUNT
    int "Number of outputs"
    range 1 4
    default 1

config TESLASYNTH_OUTPUT_GPIO_PIN1
    int "GPIO Pin for output #1"
    default 12
    range 0 39
    depends on TESLASYNTH_OUTPUT_COUNT >= 1

config TESLASYNTH_OUTPUT_GPIO_PIN2
    int "GPIO Pin for output #2"
    default 13
    range 0 39
    depends on TESLASYNTH_OUTPUT_COUNT >= 2

config TESLASYNTH_OUTPUT_GPIO_PIN3
    int "GPIO Pin for output #3"
    default 14
    range 0 39
    depends on TESLASYNTH_OUTPUT_COUNT >= 3

config TESLASYNTH_OUTPUT_GPIO_PIN4
    int "GPIO Pin for output #4"
    default 27
    range 0 39
    depends on TESLASYNTH_OUTPUT_COUNT >= 4

endmenu

menu "Device"

config TESLASYNTH_DEVICE_NAME
    string "Advertised Device Name"
    default "Teslasynth"

config TESLASYNTH_WIFI_PASSWORD
        string "WiFi Password"
        default "Wardenclyffe1891!"
        help
            WiFi password 

config TESLASYNTH_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 1
        help
            WiFi channel (network channel)

endmenu

menu "Synth"

config CONFIG_MAX_NOTES
    int "Max notes"
    default 4
    range 1 8
    help
        This is the maximum size possible for notes.
        You can configure max concurrent notes up to this value.

config CONFIG_DEFAULT_MAX_DUTY
    int "Default max duty for all channels"
    default 10
    range 1 100
    help
        This is the maximum size possible for notes.
        You can configure max concurrent notes up to this value.
endmenu

menu "Log"

config TESLASYNTH_DEBUG
    bool "Enable debug logs"
    default "n"
endmenu

endmenu
