name: CI

on:
  pull_request:
    branches: ["**", "!update/**", "!pr/**"]
  push:
    branches: ["**", "!update/**", "!pr/**"]
    tags: [v*]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        board:
          - esp32
          - s2-mini
          - s3
    steps:
      - run: gcc --version
        name: Show gcc version
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Show version
        run: git describe
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          cache: true

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio
      - run: pnpm install

      - name: build dashboard
        run: pnpm build:dashboard
      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.board }}

      - name: Upload build artifacts
        if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.board }}
          path: |
            .pio/build/${{ matrix.board }}/*.bin
            .pio/build/${{ matrix.board }}/flasher_args.json

  test:
    runs-on: ubuntu-latest
    steps:
      - run: gcc --version
        name: Show gcc version
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run linting checks
        run: pio check

      - name: Run tests
        run: pio test -e native --verbose

  website:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          cache: true
      - run: pnpm install

      - name: build website
        run: pnpm build:site

      - name: Publish site
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: web/apps/site/dist

  publish:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    needs: [build, test]
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/download-artifact@v7
        with:
          path: build
      - name: Display structure of downloaded files
        run: ls -R build
      - name: Show version
        run: git describe
      - name: Generate assets
        run: ./generate_manifest.py build
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: "dist/*"

      - name: Generate version catalog
        run: git tag --list 'v*' --sort=-version:refname |  jq -R . | jq -s . > _catalog.json

      - name: Checkout firmware branch
        uses: actions/checkout@v6
        with:
          ref: firmware
          clean: false

      - name: Copy firmware files
        run: |
          mv dist ${{ github.ref_name }}
          mv _catalog.json catalog.json

      - name: Commit and push firmware
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add catalog.json ${{ github.ref_name }}
          git commit -m "Add firmware ${{ github.ref_name }}"
          git push origin firmware
