name: PlatformIO CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        board:
          - esp32dev
          - s2-mini
          - s3
    steps:
      - run: gcc --version
        name: Show gcc version
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "npm"
          cache-dependency-path: dashboard/package-lock.json

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio
      - run: npm --prefix dashboard ci

      - name: build dashboard
        run: npm --prefix dashboard run build:all
      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.board }}

  test:
    runs-on: ubuntu-latest
    steps:
      - run: gcc --version
        name: Show gcc version
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run linting checks
        run: pio check

      - name: Run tests
        run: pio test -e native --verbose
